.user-toolbar{
    height: 100%;
    width: 100%;
}
.user-avatar{
    margin-left: 4px;
    margin-top: 10%;
}
.profile-label{
    margin-top: 25%;
}

.user-profile{
    height: 20%;
    width: auto;
}

.list-header{
    color: whitesmoke;
    background-color:  rgb(211, 12, 12);
}